@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES FOR BUTTONS
// -----------------------------------------------------------------------------
// #region
.e-btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
a[role='button'] {
  --btn-border-outline: 1px solid var(--color-ink-border-brand);
  --btn-color-outline: var(--color-ink-2ry);

  @include button;
}

// Remove inner border and padding in Firefox
:where(button, [type='button'], [type='reset'], [type='submit'])::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
// #endregion

// -----------------------------------------------------------------------------
// TYPES
// -----------------------------------------------------------------------------
// #region

// Primary
.e-btn.is-primary {
  @include button-primary;
}

// Outline and ghost
.e-btn.is-outline,
.e-btn.is-ghost {
  background: transparent;
  color: var(--btn-color-outline);

  &:active,
  &:focus-visible {
    background: var(--color-bg-brand);
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--color-bg-brand);
      filter: none;
    }
  }
}

.e-btn.is-outline {
  border: var(--btn-border-outline);
}

// Link: use instead a(href='#') and a(href='javascript:void(0)')
.e-btn.is-link {
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: var(--color-ink-link);
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  padding: 0;
  transition: filter var(--duration-50) var(--easing-base);
  vertical-align: baseline;
  height: auto;

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }
}

// Icon
.e-btn.is-icon {
  --height-btn: var(--size-7);

  padding: 0;
  width: var(--height-btn);
}

// Close
.e-btn.is-close {
  --height-btn: var(--size-5);

  border-radius: var(--border-radius-pill);
  backdrop-filter: var(--backdrop-filter-blur);
  padding: 0;
  width: var(--height-btn);
  z-index: var(--zindex-fixed);

  // Expanded clickable area
  &::after {
    background: transparent;
    content: '';
    position: absolute;
    inset: -1 * rem(2);
    border-radius: inherit;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// DISABLED STATE
// -----------------------------------------------------------------------------
// #region

.e-btn[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
a[role='button'][disabled] {
  @include state-disabled();
}
// #endregion

// -----------------------------------------------------------------------------
// BUTTON GROUP
// -----------------------------------------------------------------------------
// #region

.e-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-2);

  @supports not (gap: 4px) {
    > * {
      margin-bottom: var(--size-2);

      @media (--tablet) {
        margin-bottom: 0;
      }
    }

    .e-btn + .e-btn {
      margin-left: var(--size-1);
    }
  }
}
// #endregion
