@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES
// -----------------------------------------------------------------------------
// #region
.e-header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2p5);
  justify-content: center;
  padding-top: rem(19);
  padding-inline: var(--padding-x-container);
  width: 100%;
  z-index: var(--zindex-fab);

  @media (--tablet) {
    display: block;
    padding: 0;
  }
}

.e-header > .e-container {
  display: contents;

  @media (--tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: var(--size-2);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// NAVBAR
// -----------------------------------------------------------------------------
// #region

.e-header__menu {
  background-color: var(--color-bg-base);
  border-top: 1px solid var(--color-ink-min);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-top: calc(var(--size-1) - #{rem(1)});
  padding-bottom: var(--size-1p5);
  padding-inline: var(--size-1);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zindex-fixed);

  @media (--tablet) {
    background-color: transparent;
    border-top: 0;
    align-items: start;
    gap: var(--size-1);
    justify-content: end;
    padding: rem(27) 0 0;
    position: static;
  }
}

.e-header__menu > li {
  @media (--phone) {
    flex: 1 0 rem(76);
    max-width: rem(168);
  }
}

.e-header__menu-item {
  .e-icon {
    --color-fill-icon: var(--color-ink-min);
  }

  @media (--phone) {
    --height-btn: auto;

    border: 0;
    border-radius: var(--border-radius-base);
    color: var(--color-ink-2ry);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--size-half);
    font-size: var(--font-size-caption);
    letter-spacing: var(--letter-spacing-caption);
    line-height: var(--line-height-caption);
    padding-block: var(--size-1);
    width: 100%;
  }
}

:where(.e-page.is-home) .e-header__menu-item.is-home,
:where(.e-page.is-pricing) .e-header__menu-item.is-pricing {
  pointer-events: none;

  @media (--phone) {
    background-color: var(--color-bg-success);

    .e-icon {
      --color-fill-icon: var(--color-bg-base);
      --color-stroke-icon: var(--color-ink-2ry-success);
    }
  }

  @media (--tablet) {
    border: 0;
    color: var(--color-ink-text);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// ONBOARDING CONTROLS
// -----------------------------------------------------------------------------
// #region
.e-header__login-cta {
  display: none;

  @media (--phone-l) {
    @include text-format(body-sm);

    display: block;
    color: var(--color-ink-2ry);
    margin-top: rem(36);
    margin-inline-start: var(--size-2);
  }
}

.e-header .e-btn.has-progress {
  appearance: none;
  background: transparent;
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  color: initial;

  flex-direction: column;

  letter-spacing: initial;
  line-height: initial;
  text-align: left;

  padding-block: 0;
  padding-inline: 0;
  position: relative;
  transition: background var(--duration-100) var(--easing-base);
  height: auto;

  @media (--tablet) {
    border-inline-start: 1px solid var(--color-ink-border);
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: rem(37);
    padding-inline: var(--size-4);
    width: rem(270);

    body:has(.e-stepper.is-open) & {
      border-inline-start: 0;
    }
  }

  @media (--tablet-l) {
    display: none;
  }

  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--color-bg-base-alpha);
    }
  }
}

:where(.e-header .e-btn.has-progress) .h3 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: var(--size-half);
  width: 100%;
}

:where(.e-header .e-btn.has-progress) .e-btn__label {
  display: none;

  @media (--tablet) {
    display: block;
  }
}

:where(.e-header .e-btn.has-progress) .e-btn__value {
  color: var(--color-ink-2ry);
  font-size: var(--font-size-body-sm);
  line-height: 1;
  font-weight: 400;
}

// View details
:where(.e-header .e-btn.has-progress)  small {
  display: none;

  @media (--tablet) {
    display: block;
    color: var(--color-ink-text-info);
  }
}

:where(.e-header .e-btn.has-progress) .e-progress {
  --position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media (--tablet) {
    display: none;
  }
}
// #endregion
