@use 'abstracts' as *;

// List
.e-menu {
  --menu-current-bg: var(--color-ink-min);
  --menu-color: var(--color-ink-2ry);
  --menu-padding: var(--size-2);
  --menu-subtitle-margin: var(--size-2) 0 var(--size-1);

  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: var(--menu-padding);

  li {
    color: var(--menu-color);
    display: block;
    position: relative;
    padding: 0;
    width: 100%;

    &::marker {
      display: none;
    }
  }

  @media (--tablet) {
    li:not(:last-child) {
      margin-bottom: var(--size-half);
    }
  }
}

.e-menu:not(.e-flayout__body) {
  width: 100%;
}

// Link
.e-menu__item {
  @include menu-item;

  &[aria-current] {
    background-color: var(--menu-current-bg);
    cursor: default;
    pointer-events: none;
  }
}

/* Subtitle styles */
.e-menu__subtitle {
  @include text-format(caption);

  color: var(--color-ink-text);
  font-weight: var(--font-weight-titles-max);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: var(--menu-subtitle-margin);
}

/* Text truncation for labels */
.e-menu__item > .label {
  @include text-truncate;

  flex-grow: 1;
  min-width: 0;
}

// Divider
.e-menu__divider {
  border-top: 1px solid var(--color-ink-border);
  height: 0;
}
