@use 'sass:map';
@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

// Container
.e-modal {
  --modal-background: var(--color-bg-base);
  --modal-border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  --modal-padding-x: var(--size-2p5);
  --modal-overlay-background-color: var(--color-bg-base-alpha);

  background-color: var(--modal-overlay-background-color);
  backdrop-filter: blur(var(--size-2p5));
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  inset: 0;
  transition: opacity var(--duration-500) var(--easing-base);
  opacity: 1;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  z-index: var(--zindex-modal);

  &:not([open]) {
    display: none;
    opacity: 0;
  }

  &[closing] {
    opacity: 0;
  }

  &[closing] > .e-modal__base {
    opacity: 0;
    translate: 0 50%;

    @media (--tablet) {
      translate: 0 -50%;
    }
  }

  @starting-style {
    opacity: 0;
  }

  @media (--tablet) {
    --modal-padding-x: var(--size-5);
    --modal-border-radius: var(--border-radius-xl);
  }
}

.e-modal__base {
  background: var(--modal-background);
  border: var(--size-1) solid transparent;
  border-radius: var(--modal-border-radius);
  box-shadow: var(--box-shadow-level-03);
  color: var(--color-ink-text);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  overflow-y: auto;
  position: fixed;
  inset: auto 0 0;
  transition:
    translate var(--duration-500) var(--easing-base),
    opacity var(--duration-500) var(--easing-base);
  translate: 0;
  width: min(100%, var(--width-xl));
  max-height: calc(100% - var(--size-5));

  @starting-style {
    translate: 0 50%;
  }

  @media (pointer: coarse) {
    scrollbar-gutter: stable both-edges;
  }

  @media (pointer: fine) {
    @include scrollbar($track-bg: transparent);
  }

  @media (--tablet) {
    border-radius: var(--modal-border-radius);
    padding-block: var(--size-line);
    inset: 0;
    height: max-content;
    max-height: calc(100vh - var(--size-8));

    @starting-style {
      translate: 0 -50%;
    }
  }
}

/* Closed state animation */
.e-modal:not([open]) > .e-modal__base {
  opacity: 0;
  translate: 0 50%;

  @media (--tablet) {
    translate: 0 -50%;
  }
}

// Sizing
.e-modal__base.is-small {
  --modal-border-radius: var(--border-radius-lg);
  background-image: var(--bg-image-base);
  background-repeat: no-repeat;
  background-position: calc(-1 * var(--size-1)) calc(-1 * var(--size-8));
  background-size: var(--bg-image-size-base);
  box-shadow:
    0 0 0 rem(1) var(--color-bg-base-alpha),
    var(--box-shadow-level-03);
  inset: 0;
  width: min(calc(100% - var(--size-4)), var(--width-md));
  height: max-content;

  &::before {
    @include brand-stripe(
      $position: absolute,
      $top: 0,
      $left: 0,
      $width: 100%,
      $height: var(--size-1p5)
    );
  }

  @media (--tablet) {
    --modal-border-radius: var(--border-radius-lg);
  }
}

.e-modal__base.is-small:has(:not(header)) {
  @media (--phone) {
    .e-modal__body {
      padding-block: var(--modal-padding-x);
    }

    > footer {
      padding-bottom: var(--modal-padding-x);
    }
  }
}
// #endregion

// -----------------------------------------------------------------------------
// CONTENT
// -----------------------------------------------------------------------------
// #region

/* Basic padding for modal content */
.e-modal__body,
.e-modal__content {
  padding-inline: var(--modal-padding-x);
}

// #endregion

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
// #region

.e-modal__base > header {
  padding-inline: var(--modal-padding-x);

  @media (--tablet) {
    padding-top: var(--size-1);
  }
}

.e-modal__base:has(.e-btn.is-close) > header {
  @media (--tablet) {
    padding-top: 0;
  }
}

.e-modal__base .e-btn.is-close {
  margin-inline-start: auto;
  // Compensate ::after to prevent x-scroll
  margin-inline-end: rem(2);
  margin-bottom: calc(-1 * var(--size-2));
  position: sticky;
  top: var(--size-2);

  @media (--tablet) {
    top: 0;
    margin-inline-end: var(--size-3);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FOOTER - BUTTONS
// -----------------------------------------------------------------------------
// #region

/* Footer with buttons aligned to the right */
.e-modal__base > footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-1);
  justify-content: flex-end;
  padding-inline: var(--modal-padding-x);
  position: sticky;
  z-index: 3;
}

// #endregion

// -----------------------------------------------------------------------------
// LOWER UI LOCK
// -----------------------------------------------------------------------------
// #region

/* Disable scroll on the html root when the modal is open */
html:has(dialog[open]) {
  overflow: hidden;

  .e-modal {
    pointer-events: auto;
    touch-action: auto;
  }
}

// #endregion
