@use 'sass:math';
@use 'abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES
// -----------------------------------------------------------------------------
// #region

.e-navbar {
  display: none;

  @media (--tablet) {
    background-color: var(--color-bg-base-alpha);
    border-inline-end: 1px solid var(--color-ink-border);
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    text-align: center;
  }

  @media (--tablet-l) {
    background-color: transparent;
    border-inline-end: 0;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------
// #region
.e-navbar__header {
  display: none;

  .e-avatar {
    margin-bottom: var(--size-4);
  }

  .h3 {
    margin-bottom: 0;
  }

  .e-navbar__subtitle {
    @include text-format('body-sm');

    color: var(--color-ink-2ry);
    font-weight: 400;
    margin-bottom: var(--size-4);
  }

  @media (--tablet-l) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: var(--size-4);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
// #region
.e-navbar .e-menu {
  @media (--tablet-p-only) {
    padding-inline: var(--size-1);
  }

  @media (--tablet-l) {
    background-color: var(--color-bg-base);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-level-01);
    padding: var(--size-5) var(--size-2p5) var(--size-2p5);
    overflow: hidden;
    position: relative;

    &::before {
      @include brand-stripe(
        $position: absolute,
        $top: 0,
        $left: 50%,
        $translate: -50% 0,
        $width: 100%,
        $height: var(--size-1p5)
      );
    }
  }
}

.e-navbar .e-menu__item {
  font-weight: 400;

  &.is-active {
    background-color: var(--color-bg-success);
    cursor: default;
    pointer-events: none;

    .e-icon {
      --color-fill-icon: var(--color-bg-base);
      --color-stroke-icon: var(--color-ink-2ry-success);
    }
  }

  @media (--tablet-p-only) {
    @include text-format('caption');
    @include text-truncate();

    flex-direction: column;
    align-items: center;
    gap: var(--size-half);
    justify-content: flex-start;
    text-align: inherit;
    padding: var(--size-1) 0;
  }

  @media (--tablet-l) {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
  }

}
// #endregion

// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------
// #region
.e-navbar__footer {
  margin-top: auto;
  width: 100%;

  summary > span {
    @media (--tablet-l) {
      @include text-format(caption);

      color: var(--color-ink-2ry);
    }
  }
}

.e-navbar__footer summary {
  display: flex;
  justify-content: center;
  padding-bottom: var(--size-line);
  padding-inline: var(--size-2);

  &::after {
    rotate: 180deg;
  }

  @media (--tablet-p-only) {
    &::after {
      display: none;
    }
  }

  @media (--tablet-l) {
    padding-inline-end: var(--size-4);
  }
}

.e-navbar__footer[open] summary::after {
  rotate: 0deg;
}

:where(.e-navbar__footer) summary > span  {
  @media (--tablet-l) {
    @include text-format(caption);

    color: var(--color-ink-2ry);
  }
}

.e-navbar__footer .e-flayout__body {
  align-items: center;
  width: var(--width-sm);

  @media (--tablet-p-only) {
    translate: var(--size-2);
  }
}

:where(.e-navbar__footer .e-list li) {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);

  @media (--tablet-l) {
    + li::before {
      content: '•';
      margin-inline-end: var(--size-half);
    }
  }
}

:where(.e-navbar__footer .e-flayout__body) .e-btn.is-primary {
  --height-btn: var(--size-6);
  margin-top: var(--size-2);
  width: 100%;
}

// #endregion
