{% from "base/macros.twig" import icon %}

<dialog class="e-modal" id="modal-login">
  <div class="e-modal__base">
    <button class="e-btn is-close" type="button" data-role="close-modal" aria-label="Close">
      {{ icon('sm-x-mark', 'is-sm') }}
    </button>
    <header>
      <h2 class="e-modal__title">
        Lorem
      </h2>
    </header>
    <div class="e-modal__body">
      <p>ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
</dialog>

<script src="/assets/js/main.js" type="module"></script>
