/* Mixins were created in order to quickly style the buttons of plugins, like woocommerce */
@custom-media --phone only screen and (width < 768px);
@custom-media --phone-p only screen and (width < 568px);
@custom-media --phone-l only screen and (width >= 568px);
@custom-media --phone-l-height only screen and (max-height: 360px);
@custom-media --tablet only screen and (width >= 768px) and (min-height: 361px);
@custom-media --tablet-p-only only screen and (768px <= width <= 1023px) and (min-height: 361px);
@custom-media --tablet-l-down only screen and (width < 1024px);
@custom-media --tablet-l only screen and (width >= 1024px) and (min-height: 361px);
@custom-media --tablet-only only screen and (768px <= width <= 1360px) and (min-height: 361px);
@custom-media --laptop-down only screen and (width < 1360px);
@custom-media --laptop only screen and (width >= 1360px) and (min-height: 361px);
@custom-media --desktop only screen and (width >= 1920px) and (min-height: 361px);
@custom-media --retina print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi);
@custom-selector :--text-field :where(input:not([type="checkbox"]):not([type="radio"]), select, textarea):not(:focus);
.e-slideshow {
  position: relative;
}

.e-slideshow > .e-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
  position: relative;
  padding-top: var(--spacer-half-max);
}
@media (--tablet-l) {
  .e-slideshow > .e-container {
    flex-direction: row;
    align-items: start;
    padding-top: 0;
  }
}

.e-slideshow__base,
.e-slideshow__images {
  width: 100%;
}
@media (--tablet-l) {
  .e-slideshow__base,
  .e-slideshow__images {
    width: calc((100% - var(--size-3)) / 2);
  }
}

.e-slideshow__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (--tablet-l) {
  .e-slideshow__copy {
    height: 100vh;
  }
  .e-slideshow__copy:first-child {
    height: calc(100vh - 7rem);
  }
}

.e-slideshow__title {
  font-size: var(--font-size-hero-title);
  line-height: var(--line-height-hero-title);
  padding-top: var(--padding-top-hero-title);
  padding-bottom: var(--padding-bottom-hero-title);
  font-weight: var(--font-weight-hero-title);
  letter-spacing: var(--letter-spacing-hero-title);
  line-height: var(--line-height-hero-title);
}

.e-slideshow__title,
.e-slideshow__subtitle {
  color: var(--color-ink-2ry);
}
.e-slideshow__title strong,
.e-slideshow__subtitle strong {
  color: var(--color-ink-text);
  font-weight: inherit;
}

.e-slideshow__title,
.e-slideshow__subtitle,
.e-slideshow__desc {
  text-align: center;
}
@media (--tablet-l) {
  .e-slideshow__title,
  .e-slideshow__subtitle,
  .e-slideshow__desc {
    text-align: left;
  }
}

.e-slideshow__subtitle {
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  padding-top: var(--padding-top-title);
  padding-bottom: var(--padding-bottom-title);
  letter-spacing: var(--letter-spacing-title);
}

.e-slideshow__desc {
  font-weight: var(--font-weight-titles);
}
@media (--tablet-l) {
  .e-slideshow__desc {
    padding-inline-end: var(--size-3);
  }
}

.e-slideshow .e-buttons {
  justify-content: center;
  gap: var(--size-1);
}
@media (--tablet-l) {
  .e-slideshow .e-buttons {
    justify-content: flex-start;
  }
}

.e-slideshow__details .e-buttons {
  display: none;
}
@media (--tablet-l) {
  .e-slideshow__details .e-buttons {
    display: flex;
  }
}

html:has(.e-slideshow__details.is-open) {
  overflow: hidden;
  pointer-events: none;
  touch-action: none;
}
html:has(.e-slideshow__details.is-open) .e-slideshow__details {
  pointer-events: auto;
  touch-action: auto;
}

.e-slideshow__details {
  background: var(--color-bg-base);
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  box-shadow: var(--box-shadow-level-03);
  display: none;
  flex-direction: column;
  margin-inline: auto;
  padding: 0 var(--size-2p5) var(--size-2p5);
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  translate: 0 50%;
  transition: translate var(--duration-500) var(--easing-base), opacity var(--duration-500) var(--easing-base);
  transition-behavior: allow-discrete;
  width: min(100%, var(--width-xl));
  max-height: calc(100vh - var(--size-5));
  z-index: var(--zindex-modal);
}
.e-slideshow__details .e-slideshow__subtitle, .e-slideshow__details .e-slideshow__desc {
  text-align: left;
}
.e-slideshow__details.is-open {
  display: flex;
  opacity: 1;
  translate: 0;
}
@starting-style {
  .e-slideshow__details.is-open {
    opacity: 0;
    translate: 0 50%;
  }
}
@media (--tablet) {
  .e-slideshow__details {
    padding-top: var(--size-2p5);
    padding-inline: var(--size-5);
  }
  .e-slideshow__details .e-slideshow__subtitle {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    padding-top: var(--padding-top-h2);
    padding-bottom: var(--padding-bottom-h2);
  }
  .e-slideshow__details .btn.is-close {
    top: 0;
    margin-inline-end: calc(-1 * var(--size-2));
  }
}
@media (--tablet-l) {
  .e-slideshow__details, .e-slideshow__details.is-open {
    display: contents;
    opacity: 1;
  }
  .e-slideshow__details .e-slideshow__subtitle {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    padding-top: var(--padding-top-title);
    padding-bottom: var(--padding-bottom-title);
  }
}

body::after {
  background: var(--color-bg-base-alpha);
  backdrop-filter: var(--backdrop-filter-blur);
  content: "";
  opacity: 0;
  position: absolute;
  pointer-events: none;
  inset: 0;
  transition: opacity var(--duration-500) var(--easing-base);
  z-index: calc(var(--zindex-modal) - 1);
}

:has(.e-slideshow__details.is-open)::after {
  opacity: 1;
  pointer-events: all;
}

.e-slideshow__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (--tablet-l) {
  .e-slideshow__images {
    height: 100vh;
    will-change: transform;
  }
}

.e-slideshow__images > div {
  display: flex;
  justify-content: center;
  position: relative;
  height: 34rem;
}
@media (--tablet-l) {
  .e-slideshow__images > div {
    perspective: 1000px;
    translate: 0 -10%;
    width: 100%;
  }
}

.e-slideshow__image {
  border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
  margin-bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 43rem;
  height: 100%;
}
.e-slideshow__image::after, .e-slideshow__image::before {
  display: flex;
  position: absolute;
}
.e-slideshow__image::before {
  content: "";
  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 27rem;
}
.e-slideshow__image::after {
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(10px);
  border: 2px solid var(--color-bg-base);
  border-radius: var(--border-radius-pill);
  content: "1";
  color: var(--color-ink-text-inverse);
  align-items: center;
  justify-content: center;
  text-align: center;
  right: var(--size-2);
  bottom: var(--size-2);
  width: var(--size-7);
  height: var(--size-7);
}
@media (--tablet-l) {
  .e-slideshow__image:not(:first-child) {
    will-change: opacity, transform;
  }
}

.e-slideshow__image:not(:first-child) {
  display: none;
}
@media (--tablet-l) {
  .e-slideshow__image:not(:first-child) {
    display: block;
  }
}

.e-slideshow__character {
  position: absolute;
  bottom: 0;
  max-width: none;
}

.e-slideshow__image .is-dp {
  opacity: 0.94;
}

.e-slideshow__image.is-01::before,
.e-slideshow__image.is-04::before,
.e-slideshow__image.is-05::before {
  background-color: var(--color-base-yellow-soft);
}

.e-slideshow__image.is-01::after {
  content: "1";
}
@media (--tablet-l) {
  .e-slideshow__image.is-01 {
    margin-top: calc(-1 * var(--size-7));
  }
}

.e-slideshow__image.is-01 .is-dp {
  left: 50%;
  translate: -50% 0;
}
@media (--phone-l) {
  .e-slideshow__image.is-01 .is-dp {
    left: -10%;
    translate: 0;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-01 .is-dp {
    left: -20%;
  }
}
@media (--laptop) {
  .e-slideshow__image.is-01 .is-dp {
    left: -10%;
  }
}

.e-slideshow__image.is-01 .is-creator {
  display: none;
}
@media (--phone-l) {
  .e-slideshow__image.is-01 .is-creator {
    display: block;
    right: -10%;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-01 .is-creator {
    right: -20%;
  }
}
@media (--laptop) {
  .e-slideshow__image.is-01 .is-creator {
    right: -10%;
  }
}

.e-slideshow__image.is-02::after {
  content: "2";
}
.e-slideshow__image.is-02::before {
  background-image: image-set(url("/assets/img/pages/home/slideshow/02-bg.jpg") 1x, url("/assets/img/pages/home/slideshow/02-bg@2x.jpg") 2x);
  background-size: cover;
}

.e-slideshow__image.is-02 .is-girl {
  display: none;
}
@media (--phone-l) {
  .e-slideshow__image.is-02 .is-girl {
    display: block;
    left: 0;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-02 .is-girl {
    left: calc(100% - 33rem);
  }
}
@media (--laptop) {
  .e-slideshow__image.is-02 .is-girl {
    left: 0;
  }
}

.e-slideshow__image.is-02 .is-dp {
  right: 0;
}
@media (--tablet-l) {
  .e-slideshow__image.is-02 .is-dp {
    right: -10%;
  }
}
@media (--laptop) {
  .e-slideshow__image.is-02 .is-dp {
    right: 0;
  }
}

.e-slideshow__image.is-03::after {
  content: "3";
}
.e-slideshow__image.is-03::before {
  background-image: image-set(url("/assets/img/pages/home/slideshow/03-bg.jpg") 1x, url("/assets/img/pages/home/slideshow/03-bg@2x.jpg") 2x);
  background-size: cover;
}

.e-slideshow__image.is-03 .is-dp {
  right: -10%;
}
@media (--phone-l) {
  .e-slideshow__image.is-03 .is-dp {
    right: -10%;
  }
}

.e-slideshow__image.is-04::after {
  content: "4";
}

.e-slideshow__image.is-04 .is-woman {
  left: calc(17.875rem - 10%);
}
@media (--phone-l) {
  .e-slideshow__image.is-04 .is-woman {
    left: 17.875rem;
  }
}
@media only screen and (min-width: 648px) {
  .e-slideshow__image.is-04 .is-woman {
    left: auto;
    right: 0;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-04 .is-woman {
    left: 17.875rem;
  }
}

.e-slideshow__image.is-04 .is-dp {
  left: -10%;
}
@media (--phone-l) {
  .e-slideshow__image.is-04 .is-dp {
    left: 0;
  }
}

.e-slideshow__image.is-05::after {
  content: "5";
}

.e-slideshow__image.is-05 .is-woman-asian {
  left: -3.75rem;
}
@media (--phone-l) {
  .e-slideshow__image.is-05 .is-woman-asian {
    left: 0;
  }
}
@media (--tablet) {
  .e-slideshow__image.is-05 .is-woman-asian {
    left: 3.125rem;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-05 .is-woman-asian {
    left: -4rem;
  }
}

.e-slideshow__image.is-05 .is-woman-white {
  display: none;
}
@media (--phone-l) {
  .e-slideshow__image.is-05 .is-woman-white {
    display: block;
    right: 0;
  }
}
@media (--tablet) {
  .e-slideshow__image.is-05 .is-woman-white {
    right: 1.25rem;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-05 .is-woman-white {
    right: -1.5rem;
  }
}
@media (--laptop) {
  .e-slideshow__image.is-05 .is-woman-white {
    right: 0.625rem;
  }
}

.e-slideshow__image.is-05 .is-man-black {
  display: none;
}
@media (--phone-l) {
  .e-slideshow__image.is-05 .is-man-black {
    display: block;
    left: -19%;
  }
}
@media (--tablet-l) {
  .e-slideshow__image.is-05 .is-man-black {
    left: -8%;
  }
}
@media (--laptop) {
  .e-slideshow__image.is-05 .is-man-black {
    left: -2%;
  }
}

.e-slideshow__image.is-05 .is-man-white {
  left: 20%;
}
@media (--phone-l) {
  .e-slideshow__image.is-05 .is-man-white {
    left: 26%;
  }
}
@media (--tablet) {
  .e-slideshow__image.is-05 .is-man-white {
    left: 36%;
  }
}
.e-ticker {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.e-ticker__inner {
  display: inline-flex;
  animation: ticker 840s linear infinite;
}

.e-ticker__inner:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100% 0;
  }
}
.e-ticker__item {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  padding-top: var(--padding-top-h2);
  padding-bottom: var(--padding-bottom-h2);
  flex-shrink: 0;
  font-weight: var(--font-weight-titles-max);
  margin-right: var(--size-6);
}

.e-section__title {
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  padding-top: var(--padding-top-title);
  padding-bottom: var(--padding-bottom-title);
  letter-spacing: var(--letter-spacing-title);
}

:where(.e-section.is-how-it-works) .e-section__intro {
  margin-inline: auto;
  margin-bottom: var(--size-line);
  max-width: 43.875rem;
}
@media (--tablet) {
  :where(.e-section.is-how-it-works) .e-section__intro {
    margin-bottom: calc(var(--size-line) * 4);
  }
}
@media (--tablet-l-down) {
  :where(.e-section.is-how-it-works) .tablet-l\:e-flex {
    margin-inline: auto;
    max-width: 35.625rem;
  }
}
@media (--tablet-l) {
  :where(.e-section.is-how-it-works) .tablet-l\:e-flex {
    justify-content: center;
    perspective: 1000px;
  }
}
@media (--laptop) {
  :where(.e-section.is-how-it-works) .tablet-l\:e-flex {
    --columns: 3;
  }
}
@media (--laptop) {
  :where(.e-section.is-how-it-works) .e-flex__item:nth-last-child(2), :where(.e-section.is-how-it-works) .e-flex__item:last-child {
    width: calc((100% - var(--gap)) / 2);
  }
}
:where(.e-section.is-how-it-works) .e-card {
  overflow: hidden;
  transition: scale var(--duration-100) var(--easing-base);
}
@media (--tablet-l) {
  :where(.e-section.is-how-it-works) .e-card {
    will-change: rotate;
  }
}
:where(.e-section.is-how-it-works) .e-card img {
  width: auto;
  max-width: fit-content;
}

.e-card.is-social img {
  margin-bottom: var(--size-5);
}

.e-card.is-train {
  justify-content: space-between;
}

.e-card.is-train .e-card__picture,
.e-card.is-preview .e-card__picture {
  background-color: var(--color-base-yellow-soft);
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 17.5rem;
}

.e-card.is-train img,
.e-card.is-preview img {
  position: absolute;
}

.e-card.is-train .e-card__picture {
  overflow-x: clip;
  overflow-y: visible;
}

.e-card.is-train img {
  bottom: var(--size-5);
  right: 0;
}

.e-card.is-preview .e-card__picture {
  overflow: hidden;
}

.e-card.is-preview .e-card__character {
  top: calc(-1 * var(--size-2p5));
  left: 50%;
  translate: -78% 0;
}
@media (--phone-l) {
  .e-card.is-preview .e-card__character {
    translate: -58% 0;
  }
}

.e-card.is-preview .e-card__image-detail.is-first {
  display: none;
}
@media (--phone-l) {
  .e-card.is-preview .e-card__image-detail.is-first {
    display: block;
    top: 50%;
    left: var(--size-4);
    translate: 0 -50%;
    z-index: 1;
  }
}

.e-card.is-preview .e-card__image-detail.is-last {
  bottom: var(--size-2);
  right: var(--size-2);
}
@media (--phone-l) {
  .e-card.is-preview .e-card__image-detail.is-last {
    bottom: auto;
    top: 50%;
    right: var(--size-4);
    translate: 0 -50%;
  }
}

.e-card.is-ready .e-card__video {
  overflow: hidden;
  max-height: 17.5rem;
}

.e-card.is-ready video {
  object-position: center bottom;
}

.e-messages__header {
  display: contents;
}
@media (--laptop) {
  .e-messages__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--size-3);
  }
}

.e-section.is-faq .e-section__title {
  text-align: center;
  margin-bottom: 0;
}
@media (--laptop) {
  .e-section.is-faq .e-section__title {
    flex-shrink: 0;
    text-align: left;
    margin: 0;
    max-width: 50%;
  }
}

@media (--laptop) {
  .e-messages__header .e-message {
    margin-inline-start: 0;
    max-width: 50%;
  }
}

.e-message {
  --avatar-size: 5.5rem;
}

.e-message__avatar {
  display: none;
}
@media (--phone-l) {
  .e-message__avatar {
    display: block;
  }
}

.e-message.is-outgoing time {
  --background-image: var(--icon-sm-checks);
}

.e-section.is-cta {
  text-align: center;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  max-width: calc(34.25rem + var(--padding-x-container) * 2);
}
.e-section.is-cta .e-container {
  position: relative;
  z-index: 1;
}
.e-section.is-cta .e-section__title {
  background-clip: text;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/pages/home/mix-blend.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}