@charset "UTF-8";
/* Mixins were created in order to quickly style the buttons of plugins, like woocommerce */
@custom-media --phone only screen and (width < 768px);
@custom-media --phone-p only screen and (width < 568px);
@custom-media --phone-l only screen and (width >= 568px);
@custom-media --phone-l-height only screen and (max-height: 360px);
@custom-media --tablet only screen and (width >= 768px) and (min-height: 361px);
@custom-media --tablet-p-only only screen and (768px <= width <= 1023px) and (min-height: 361px);
@custom-media --tablet-l-down only screen and (width < 1024px);
@custom-media --tablet-l only screen and (width >= 1024px) and (min-height: 361px);
@custom-media --tablet-only only screen and (768px <= width <= 1360px) and (min-height: 361px);
@custom-media --laptop-down only screen and (width < 1360px);
@custom-media --laptop only screen and (width >= 1360px) and (min-height: 361px);
@custom-media --desktop only screen and (width >= 1920px) and (min-height: 361px);
@custom-media --retina print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi);
@custom-selector :--text-field :where(input:not([type="checkbox"]):not([type="radio"]), select, textarea):not(:focus);
.e-main__header {
  position: relative;
}

.e-main__badge {
  display: none;
}
@media (--laptop) {
  .e-main__badge {
    background: url("/assets/img/pages/pricing/sticker.svg") no-repeat 0 0;
    color: var(--color-ink-text-success);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: var(--size-1);
    padding-inline: var(--size-4);
    position: absolute;
    top: var(--size-line);
    right: calc(-1 * var(--size-5));
    width: 15rem;
    height: 15rem;
  }
  .e-main__badge::after {
    content: url("/assets/img/pages/pricing/arrow.svg");
    position: absolute;
    top: 110%;
    left: 3.625rem;
  }
}

@media (--tablet) {
  .e-segmented-control {
    margin-inline: auto;
    margin-bottom: var(--size-line);
  }
}

.e-yearly-discount {
  display: none;
}
@media (--tablet) {
  .e-yearly-discount {
    display: flex;
    flex-direction: column;
  }
  .e-yearly-discount.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

.e-yearly-discount__value,
.e-yearly-discount__period {
  display: flex;
  align-items: end;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.e-yearly-discount__value > li,
.e-yearly-discount__period > li {
  font-size: var(--font-size-label-sm);
  line-height: var(--line-height-label-sm);
  padding-top: var(--padding-top-label-sm);
  padding-bottom: var(--padding-bottom-label-sm);
  flex: 1;
  text-align: center;
}
.e-yearly-discount__value li:is(:first-child, :last-child),
.e-yearly-discount__period li:is(:first-child, :last-child) {
  flex-grow: 0;
  flex-basis: 9%;
}
.e-yearly-discount__value li:first-child,
.e-yearly-discount__period li:first-child {
  text-align: left;
}
.e-yearly-discount__value li:last-child,
.e-yearly-discount__period li:last-child {
  text-align: right;
}

.e-yearly-discount__value > li {
  margin-bottom: var(--size-1);
}
.e-yearly-discount__value > li:last-child {
  color: var(--color-ink-text-success);
}

.e-yearly-discount__period > li {
  color: var(--color-ink-2ry);
  font-weight: 400;
}

.e-yearly-discount__ruler {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: var(--size-1);
  width: 100%;
  height: var(--size-1p5);
}
.e-yearly-discount__ruler > div {
  background-color: var(--color-ink-border);
  width: 0.0625rem;
  height: var(--size-half);
}
.e-yearly-discount__ruler > div:first-child, .e-yearly-discount__ruler > div:nth-child(5n+1) {
  height: var(--size-1);
}

/* Высота маленьких и больших делений */
.tick.short {
  height: 10px;
}

.tick.long {
  height: 15px;
}

.e-plans {
  display: grid;
  gap: var(--grid-gap, var(--size-2));
  grid-template-columns: var(--grid-columns, 1fr);
  grid-template-rows: var(--grid-rows, auto);
}
.e-plans > * {
  min-width: 0;
  min-height: 0;
}
.e-plans {
  padding-block: var(--spacer-max);
}
@media (--tablet-l) {
  .e-plans {
    --grid-gap: var(--size-3);
    --grid-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-template-rows: repeat(4, auto);
  }
}

:where(.e-plans) .e-card {
  display: grid;
  align-items: start;
  gap: var(--size-2);
  grid-template-rows: subgrid;
  padding: var(--size-4) var(--size-4) var(--size-5);
}
:where(.e-plans) .e-card .e-btn {
  width: 100%;
}
:where(.e-plans) .e-card__features {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  list-style: none;
  padding: 0;
}
:where(.e-plans) .e-card__features li {
  position: relative;
  padding-left: var(--size-4);
}
:where(.e-plans) .e-card__features li::before {
  background: url("/assets/img/icons/icon-success.svg") no-repeat center/contain;
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0;
  width: var(--size-2p5);
  height: var(--size-2p5);
}

:where(.e-plans) > .e-card {
  grid-row: span 4;
}

:where(.e-plan) > .e-card {
  grid-row: span 3;
}

.e-plan {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
}

.e-plan__hint {
  font-size: var(--font-size-label-sm);
  line-height: var(--line-height-label-sm);
  padding-top: var(--padding-top-label-sm);
  padding-bottom: var(--padding-bottom-label-sm);
  color: var(--color-ink-2ry);
  margin-top: var(--size-2);
  padding-inline-start: var(--size-4);
  position: relative;
}
.e-plan__hint .e-icon {
  position: absolute;
  top: 0;
  left: 0;
}
@media (any-hover: none) and (pointer: coarse) {
  .e-plan__hint {
    display: none;
  }
}

.e-card:nth-child(2) .e-card__features,
.e-card:nth-child(3) .e-card__features {
  grid-row: 3/5;
}

.e-card__eyebrow {
  margin-bottom: var(--size-1);
}
.e-card__eyebrow label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font: inherit;
  padding: 0;
  width: 100%;
}
.e-card__eyebrow [type=radio] {
  border: 0;
  position: static;
  width: var(--size-4);
  height: var(--size-4);
}
.e-card__eyebrow [type=radio]:checked {
  background-color: var(--color-bg-2ry);
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.66669%2012L10.6667%2017L20.6667%207%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.38%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A");
  background-size: auto;
}

.e-card__price {
  display: flex;
  align-items: flex-end;
  gap: var(--size-half);
}

.e-card__price sup {
  translate: 0 -1.375rem;
}

.e-card__price strong {
  font-size: var(--font-size-hero-title);
  line-height: var(--line-height-hero-title);
  padding-top: var(--padding-top-hero-title);
  padding-bottom: var(--padding-bottom-hero-title);
  font-weight: var(--font-weight-titles-max);
  letter-spacing: -1px;
}
@media (--tablet) {
  .e-card__price strong {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    padding-top: var(--padding-top-h2);
    padding-bottom: var(--padding-bottom-h2);
  }
}

.e-card__price small {
  translate: 0 -0.25rem;
}

:where(.e-plans .e-card:not(.is-featured)) .e-btn,
:where(.e-plans .e-card:not(.is-featured)) .e-card__summary,
:where(.e-plans .e-card:not(.is-featured)) .e-card__features {
  color: var(--color-ink-2ry);
}
:where(.e-plans .e-card:not(.is-featured)) .e-btn {
  background-color: var(--color-bg-base);
  box-shadow: var(--box-shadow-level-01);
}

:where(.e-plans .e-card.is-featured) .e-card__eyebrow,
:where(.e-plans .e-card.is-featured) .e-card__price,
:where(.e-plans .e-card.is-featured) .e-card__summary {
  color: var(--color-ink-text-inverse);
}
:where(.e-plans .e-card.is-featured) .e-btn {
  background-color: var(--color-base-success);
  color: var(--color-ink-text-success);
}
:where(.e-plans .e-card.is-featured) .e-card__features {
  color: var(--color-ink-2ry-inverse);
}
:where(.e-plans .e-card.is-featured) .e-card__features li::before {
  background: url("/assets/img/icons/icon-success-inverse.svg") no-repeat center/contain;
}

@media (any-hover: hover) and (pointer: fine) {
  .has-tooltip {
    cursor: help;
  }
}
@media (any-hover: none) and (pointer: coarse) {
  .has-tooltip {
    border-bottom: none;
  }
  .has-tooltip::after, .has-tooltip::before {
    display: none;
  }
}

.e-plan-builder {
  display: none;
}
@media (--tablet) {
  .e-plan-builder {
    background-color: var(--color-bg-base-alpha);
    backdrop-filter: var(--backdrop-filter-elevated);
    border-top: 1px solid var(--color-ink-border);
    display: block;
    position: fixed;
    inset-inline: 0;
    bottom: 0;
    z-index: calc(var(--zindex-fixed) + 1);
  }
}

.e-plan-builder summary {
  display: none;
  pointer-events: none;
}
.e-plan-builder summary .h3 {
  font-weight: 400;
}
.e-plan-builder summary .h3 strong {
  color: var(--color-ink-text);
  font-weight: 400;
}
@media (--tablet) {
  .e-plan-builder summary {
    color: var(--color-ink-2ry);
    display: block;
    font-size: var(--font-size-label);
    line-height: var(--line-height-label);
    text-align: center;
    margin-inline: auto;
    padding-top: 1.625rem;
    padding-bottom: 1.6875rem;
    padding-inline: var(--padding-x-container);
    overflow: hidden;
    position: relative;
    max-width: var(--width-container);
  }
}

.e-plan-builder__toggle {
  border-radius: var(--border-radius-base);
  padding-block: var(--size-1);
  padding-inline-start: var(--size-1p5);
  padding-inline-end: var(--size-2);
  pointer-events: all;
  position: absolute;
  right: calc(var(--padding-x-container) - var(--size-2));
  top: 50%;
  transition: background var(--duration-100) var(--easing-base);
  translate: 0 -50%;
}
.e-plan-builder__toggle .e-icon {
  margin-right: var(--size-half);
  rotate: 0;
  translate: 0 -1px;
  transition: rotate var(--duration-50) var(--easing-base);
}
@media (any-hover: hover) and (pointer: fine) {
  .e-plan-builder__toggle:hover {
    background: var(--color-ink-min);
  }
}

:where(.e-plan-builder[open]) .e-plan-builder__toggle {
  opacity: 0;
  pointer-events: none;
}

.e-plan-builder__continue {
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  padding-top: var(--padding-top-label);
  padding-bottom: var(--padding-bottom-label);
  color: var(--color-ink-text-success);
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 1.375rem;
  right: calc((100vw - var(--width-container)) / 2 + var(--padding-x-container));
  transition: opacity var(--duration-900) var(--easing-base);
}
:where(.e-plan-builder[open]) .e-plan-builder__continue {
  opacity: 1;
  pointer-events: all;
}

.e-plan-builder__cancel {
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  padding-top: var(--padding-top-label);
  padding-bottom: var(--padding-bottom-label);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 1.375rem;
  left: var(--padding-x-container);
  transition: opacity var(--duration-50) var(--easing-base);
}
:where(.e-plan-builder[open]) .e-plan-builder__cancel {
  opacity: 1;
  pointer-events: all;
}

.e-plan-builder::details-content {
  height: 0;
  transition: content-visibility var(--duration-200) var(--easing-base), height var(--duration-200) var(--easing-base);
  transition-behavior: allow-discrete;
}

.e-plan-builder[open]::details-content {
  height: auto;
}

.e-plan-builder__options {
  list-style: none;
  display: flex;
  gap: var(--size-line);
  overflow-x: auto;
  padding-inline: calc((100vw - var(--width-container)) / 2 + var(--padding-x-container));
  padding-bottom: var(--size-2);
}
.e-plan-builder__options > * {
  min-width: 0;
  flex-shrink: 0;
}
@media (pointer: fine) {
  .e-plan-builder__options {
    scrollbar-color: var(--color-scroll-thumb) transparent;
    scrollbar-width: thin;
  }
  .e-plan-builder__options::-webkit-scrollbar {
    width: var(--size-1);
    height: var(--size-1);
  }
  .e-plan-builder__options::-webkit-scrollbar-track {
    background: transparent;
  }
  .e-plan-builder__options::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: var(--border-radius-pill);
    border: var(--size-half) solid transparent;
  }
}

.e-plan-builder__option {
  border: 1px solid var(--color-ink-border);
  border-radius: var(--border-radius-base);
  display: flex;
  align-items: center;
  flex: none;
  gap: var(--size-2p5);
  padding-inline: var(--size-2p5);
  min-width: var(--width-sm);
  max-width: var(--width-lg);
  height: calc(var(--size-line) * 4);
}
.e-plan-builder__option > * {
  min-width: 0;
  flex-shrink: 0;
}
.e-plan-builder__option [type=checkbox] {
  border-radius: var(--border-radius-sm);
  margin-right: 0;
  width: var(--size-4);
  height: var(--size-4);
}

.e-plan-builder__option-label {
  display: flex;
  flex-direction: column;
  padding-block: 0;
}
.e-plan-builder__option-label strong {
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  padding-top: var(--padding-top-label);
  padding-bottom: var(--padding-bottom-label);
  color: var(--color-ink-text);
  font-weight: var(--font-weight-titles-max);
}
.e-plan-builder__option-label small {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  max-height: 2rem;
  color: var(--color-ink-2ry);
}

.e-plan-builder__price {
  font-weight: 400;
  white-space: nowrap;
}