{% from "base/macros.twig" import icon %}

<footer class="e-footer">
  <h2 class="visually-hidden">Didn’t find what you were looking for? Maybe it’s here?</h2>
  <div class="e-container">
    <div class="e-grid">
      <div class="e-footer__col has-logo">
        <img src="/assets/img/components/logo.svg" width="268" height="96" alt="Echo Immortal">
        <p class="e-footer__copyright">
          &copy; {{ "now"|date("Y") }}
          Echo Immortal LLC. All rights reserved.
        </p>
      </div>
      <nav class="e-footer__col is-first-nav">
        <h3>About Us</h3>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <nav class="e-footer__col is-2nd-nav">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Agreement</a></li>
        </ul>
      </nav>
      <div class="e-footer__col is-social">
        <a href="#" class="e-btn is-ghost is-icon is-twitter" aria-label="Follow Us on X.com">
          {{ icon('brand-x') }}
        </a>
        <a href="#" class="e-btn is-ghost is-icon is-instagram" aria-label="Follow Us on Instagram">
          {{ icon('brand-instagram') }}
        </a>
      </div>
    </div>

  </div>
</footer>

<script src="/assets/js/main.js" type="module"></script>
