{% from "base/macros.twig" import icon %}

<div class="e-post__actions">
  <a class="e-post__comments" href="{{ post.link }}" aria-label="Comment post and view comments">
    {{ icon('message') }}
  </a>
  <details class="e-post__share e-flyout is-up is-right" data-role="flyout">
    <summary aria-label="Share post">
      {{ icon('share') }}
    </summary>
    <ul class="e-flyout__body e-menu">
      <li><button class="e-menu__item" type="button" data-action="share-copy" aria-label="Copy link to post">Copy link</button></li>
      <li><button class="e-menu__item" type="button" data-action="share-facebook" aria-label="Share on Facebook">Facebook</button></li>
      <li><button class="e-menu__item" type="button" data-action="share-x" aria-label="Share on X">X.com</button></li>
      <li><button class="e-menu__item" type="button" data-action="share-telegram" aria-label="Share on Telegram">Telegram</button></li>
    </ul>
  </details>
</div>
