{% from "base/macros.twig" import icon %}

<details class="e-post__menu e-flyout is-right" data-role="flyout">
  <summary aria-label="Post actions menu">
    {{ icon('more') }}
  </summary>
  <ul class="e-flyout__body e-menu">
    <li><button class="e-menu__item" type="button" data-action="edit-post">Edit</button></li>
    <li><button class="e-menu__item" type="button" data-action="delete-post">Delete</button></li>
  </ul>
</details>
